$popover-max-width: 500px;
$yiq-contrasted-threshold: 160;
$custom-control-cursor: pointer;
$enable-shadows: true;

@use 'bootstrap/scss/bootstrap' with ($primary: #009682);
@use 'nano-noty/src/noty';
@use 'nano-noty/src/themes/bootstrap-v5';

.bg-body-tertiary {
  background: #f5f5f5;
}

h4 {
  font-size: 1.5em;
  font-style: normal;
}

h5 {
  font-size: 1em;
  font-weight: bold;
}

.btn-primary {
  color: #fff !important;
}

.rounded-diagonal {
  border-top-right-radius: var(--bs-border-radius);
  border-bottom-left-radius: var(--bs-border-radius);
}

.form-check-input:checked {
  background-color: #fff;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath d='M1 1l14 14M15 1L1 15' stroke='%23009682' stroke-width='2.5' stroke-linecap='square'/%3e%3c/svg%3e");
  background-size: 100%;
  background-position: center;
}